.Textarea {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-right: 0.5rem;

  .form-group {
    padding: 0.5rem;
    width: 100%;

    textarea {
      width: 100%;
      font-family: sans-serif;
      padding: 0.2rem;
    }
  }

}
